[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:Nestjs-Microservices-Landa/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:Nestjs-Microservices-Landa/products-ms.git
